extends layout

mixin svgTitle(text, textLength, x1, x2, x3, x4, x5, x6)
  svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 320 80" width="320" height="80", class="sectionTitle")
    defs
      linearGradient(id="gradient" x1="0%" y1="0%" x2="0%" y2="100%")
        stop(offset="0%" style="stop-color: #387da9; stop-opacity:1")
        stop(offset="40%" style="stop-color: #d4d4d4; stop-opacity:1")
        stop(offset="42%" style="stop-color: #464151; stop-opacity:1")
        stop(offset="54%" style="stop-color: #744c7a; stop-opacity:1")
        stop(offset="80%" style="stop-color: #d7b0fb; stop-opacity:1")

    image(xlink:href="images/stroke.png" width="100" height="30" x="110" y="20")
    text(x="50%" y="35" textLength=textLength font-family="Orbitron" font-size="35" text-anchor="middle" fill="url(#gradient" stroke="rgba(0,0,0,0.36")=text
    image(xlink:href="images/sparkle.png" width="20" height="20" x=x1 y="14")
    image(xlink:href="images/sparkle.png" width="20" height="20" x=x2 y="14")
    image(xlink:href="images/sparkle.png" width="20" height="20" x=x3 y="14")
    image(xlink:href="images/sparkle.png" width="20" height="20" x=x4 y="14")
    image(xlink:href="images/sparkle.png" width="20" height="20" x=x5 y="14")
    image(xlink:href="images/sparkle.png" width="20" height="20" x=x6 y="14")

mixin svgBtn(text)
  svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 300 90" width="300" height="90", class="svgBtn")
    rect(class="btnStroke" x="30" y="5" width="240" stroke-width="5" height="80" stroke="#4c0909")
    text(class="shadow" x="152" y="67" transform="rotate(-5 0,50)" font-family="Rock Salt" fill="#4c0909" text-anchor="middle")=text
    text(x="150" y="65" transform="rotate(-5 0,50)" font-family="Rock Salt" text-anchor="middle")=text

mixin galleryItem(i)
  div(class="gallery-item item"+i)
    img(src="images/photos/coding-challenge-"+i+".jpg")


block content
  header
    nav
      a(href="#home") Home
      a(href="#about") About
      a(href="#events") Events
      //- a(href="#video") Video
      a(href="#register") Register
  main
    section#home.home
      .bgVideo
        video(loop muted autoplay poster="images/video-placeholder.jpg")
          source(src="images/videoBg.mp4" type="video/mp4")
      .u2i
        img(src="images/u2i-logo.png")
      .grid
        a(href="#")
          +svgBtn("Register Now")

    section#about.about
      +svgTitle("About", 130, 87, 114, 140, 189, 500, 500)
      .content
        | TBD

    section#events.events
      +svgTitle("Events", 147, 78, 130, 153, 221, 500, 500)
      .content
        .gallery
          - for (var i = 22; i > 0; i--)
            +galleryItem(i)

    //- section#video
    //-   +svgTitle("Video", 117, 139, 165, 201, 247, 500, 500)

    section#register.register
      +svgTitle("Register", 190, 57, 84, 109, 146, 197, 243)
      .content
        form(action="#")
          .members
            .form-group
              label(for="name_1") Introduce yourself *
              input(type="text", name="name_1", placeholder="What's your name", required)
              input(type="email", name="email_1", placeholder="What's your email", required)

          a(id="add-another", class="add-another", href="#", alt="Add another team member") + Add team member
          .form-group
            label(for="name") Do you have a team?
            input(type="text", name="team", placeholder="Team name")
          .form-group
            input(type="submit", value="Let's rumble!")


